<% if params[:output] %>
  <h3 class="page">受信一覧</h3>
<% else %>
  <h3 class="page">送信一覧</h3>
<% end %>

<div class="container">
  <div class="row">
    <% if params[:output] %>
      <ul>
        <% @friends.each do |friend| %>
          <% friend.myself.messages.each do |message| %>
            <li class="post_line card">
              <div class="card-body">
                <p class="card-header text-left">
                  <%= message.user.name %>
                </p>
                <p class="card-text">
                  <%= message.message %>
                </p>
                <p class="card-text">
                  <%= image_tag(message.message_image.url)if message.message_image && message.message_image.url %>
                </p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <ul>
        <% @messages.each do |message| %>
          <li class="post_line card">
            <div class="card-body">
              <p class="card-header text-left">
                ユーザー名：
                <%= message.friend.partner.name %>
              </p>
              <p class="card-text">
                <%= message.message %>
              </p>
              <p class="card-text">
                <%= image_tag(message.message_image.url)if message.message_image && message.message_image.url %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
