<h3 class="page">フレンド申請</h3>
<% if params[:info] %>
  <p class="alert alert-danger"><%= params[:info] %></p>
<% end %>
<div class="container">
  <div class="row">
    <%= form_with(url: new_friend_path, method: :get, local: true) do |form| %>
      <%= form.label :name, t('view.user_name') %>
      <%= form.text_field :name_search, placeholder: "ユーザー名を入力" %>

      <%= form.submit t('view.search') %>
    <% end %>
    <ul class="list-group">
        <% @users.each do |user| %>
          <% unless current_user.friendly?(user) or current_user == user %>
          <li class="list-group-item list-group-item-action mb-3">
            ユーザー名：<%= user.name %><br>
            メールアドレス：<%= user.email %>
            <%= render 'friend_form', user: user %>
          </li>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>
