<h3 class="page"><%= @user.name %>のユーザーページ</h3>
<div class="container">
  <div class="row">
    <h4 class="sticky-top info text-center">参加コミュニティ一覧</h4>
  <% if @request.present? and @user == current_user %>
      <% @request.each do |request| %>
        <div class="card">
          <div class="card-header">
            <p>ユーザー名：<%= request.myself.name %></p>
          </div>
          <div class="list-group list-group-flush">
            <li class="list-group-item">
              <%= button_to t('view.accept'), { controller: 'friends', action: 'accept', params: {request_id: request.id} }, {class: "btn btn-primary"} %>
            </li>
            <li class="list-group-item">
              <%= button_to t('view.unfriend'), { controller: 'friends', action: 'destroy', params: {id: request.id} }, {method: :delete, class: "btn btn-danger"} %>
            </li>
          </div>
        </div>
      <% end %>
  <% end %>
  </div>
  <div class="row">
      <% @communities.each do |community| %>
        <div class="card" style="width: 18rem;">
          <%= image_tag(community.icon.url, size: '320x240', class: "card-img-top") %>
          <div class="card-body">
            <h4 class="card-title"><%= community.name %></h4>
            <h5 class="card-title"><%= community.game.name %></h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">紹介文:<%= community.comment %></li>
              <li class="list-group-item">
                <% community.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              </li>
              <% if community.posts.present? %>
                <li class="list-group-item">最終更新日<%= community.posts.last.created_at.strftime("%Y-%m-%d %H:%M:%S") %></li>
              <% end %>
            </ul>
            <%= link_to t('view.show'), community, class: "btn btn-primary" %>
            <%if community.create_user_id == current_user.id or current_user.try(:admin?) %>
              <div class="btn_action">
                <%= link_to t('view.edit'), edit_community_path(community), class: "btn btn-outline-success" %>
                <%= link_to t('view.destroy'), community, method: :delete, data: { confirm: t('view.confirm') }, class: "btn btn-outline-danger" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
