<%= form_with(model: [community, post]) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2>作成に失敗しました</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group m-3">
    <%= form.label :content, class: "input-group-text" %>
    <%= form.text_area :content, class: "form-control" %>
</div>
<div class="input-group m-3">
    <%= form.label :image, class: "input-group-text" %>
    <%= image_tag(post.image.url, size: '320x240')if post.image && post.image.url %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="actions mb-5">
    <%= form.submit t('view.post_create') %>
  </div>
<% end %>
