<div class="container">
  <div class="row">
    <%= form_with(model: community, local: true) do |form| %>
      <% if community.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(community.errors.count, "error") %> prohibited this blog from being saved:</h2>

          <ul>
            <% community.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :コミュニティ名 %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :コメント %>
        <%= form.text_area :comment %>
      </div>

      <div class="field">
        <%= form.label :アイコン画像 %>
        <%= image_tag(community.icon.url)if community.icon && community.icon.url %>
        <%= form.file_field :icon %>
      </div>

      <div class="field">
        <%= form.label :題材 %>
        <% if action_name == 'new' %>
          <%= form.collection_select :game_id, Game.all, :id, :name %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label :タグ %>
        <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <%= tag.label { tag.check_box + tag.text } %>
        <% end %>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
