<div class="container">
  <div class="row">
    <%= form_with(model: community, local: true) do |form| %>
      <% if community.errors.any? %>
        <div id="error_explanation">
          <h2>作成に失敗しました</h2>

          <ul>
            <% community.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-7 m-3">
        <div class="input-group mb-3">
          <%= form.label :コミュニティ名, class: "input-group-text" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :コメント, class: "input-group-text" %>
          <%= form.text_area :comment, class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :アイコン画像, class: "input-group-text" %>
          <%= image_tag(community.icon.url, size: '320x240')if community.icon && community.icon.url %>
          <%= form.file_field :icon, class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :ゲーム, class: "input-group-text" %>
          <% if action_name == 'new' %>
            <%= form.collection_select :game_id, Game.all, :id, :name, class: "form-control" %>
          <% end %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :タグ, class: "input-group-text" %>
          <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <%= tag.label { tag.check_box + tag.text } %>_
          <% end %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
