<h1>コミュニティ一覧</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :name, "コミュニティ名" %>
  <%= f.search_field :name_cont %>

  <%= f.submit "検索" %>
<% end %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>コミュニティ名</th>
      <th>題材</th>
      <th>コメント</th>
      <th>更新日時</th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= image_tag(community.icon.url) %></td>
        <td><%= community.name %></td>
        <td><%= community.game.name %></td>
        <td><%= community.comment %></td>
        <td><%= community.updated_at %></td>
        <td><%= link_to 'Show', community %></td>
        <%if community.create_user_id == current_user or current_user.try(:admin?) %>
          <td><%= link_to 'Edit', edit_community_path(community) %></td>
          <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '新規ゲーム登録', new_game_path %>
<%= link_to '新規作成', new_community_path %>
