<h3 class="page">コミュニティ一覧</h3>
<div class="container">
  <div class="row">
    <%= search_form_for @q do |f| %>
      <%= f.label :name, t('view.community_name') %>
      <%= f.search_field :name_cont, placeholder: "一部でも検索できます" %>

      <%= f.label :comment, t('view.community_comment') %>
      <%= f.search_field :posts_content_cont, placeholder: "投稿内容で検索できます", style:"width: 13rem;" %>

      <%= f.label :name, t('view.tag_name') %>
      <%= f.collection_select :tags_id_eq, @tags,  :id, :name, include_blank: '指定なし' %>

      <%= f.submit t('view.search') %>
    <% end %>
    <!-- <div class="col-sm-2"> -->
    <!-- </div> -->
        <% @communities.each do |community| %>
          <div class="card" style="width: 18rem;">
            <%= image_tag(community.icon.url, size: '320x240', class: "card-img-top") %>
            <div class="card-body">
              <h4 class="card-title"><%= community.name %></h4>
              <h5 class="card-title"><%= community.game.name %></h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">紹介文：<%= community.comment %></li>
                <li class="list-group-item">
                  <% community.tags.each do |tag| %>
                    <%= tag.name %>
                  <% end %>
                </li>
                <% if community.posts.present? %>
                  <li class="list-group-item">最終更新日<%= community.posts.last.created_at.strftime("%Y-%m-%d %H:%M:%S") %></li>
                <% end %>
              </ul>
              <%= link_to t('view.show'), community, class: "btn btn-primary" %>
              <%if user_signed_in? %>
                <%if community.create_user_id == current_user.id or current_user.try(:admin?) %>
                  <div class="btn_action">
                    <%= link_to t('view.edit'), edit_community_path(community), class: "btn btn-outline-success" %>
                    <%= link_to t('view.destroy'), community, method: :delete, data: { confirm: t('view.confirm') }, class: "btn btn-outline-danger" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="pagination pagination-centered">
          <%= paginate(@communities) %>
        </div>
  </div>
</div>
