<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.12/push.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  </head>
  <body>
    <% if user_signed_in? %>
      <% if User.push_message(current_user) %>
        <script>
          Push.create("新着メッセージがあります"), {
              timeout: 4000,
              onClick: function () {
                  window.focus();
                  this.close();
              }
          };
        </script>
      <% end %>
    <% end %>
  <header>
    <h1 class="title"><%= image_tag("touka.png", size: '200x80') %></h1>
    <ul class="menu-group">
    <% if user_signed_in? %>
      <li class="header-menu"><%= link_to t('view.logout'), destroy_user_session_path, method: :delete, class: "btn btn-info" %></li>
      <% if request.path_info != communities_path %>
        <li class="header-menu"><%= link_to t('view.community_index'), communities_path, class: "btn btn-info" %></li>
      <% end %>
      <% if request.path_info != user_path(current_user) %>
        <li class="header-menu"><%= link_to t('view.my_page'), user_path(current_user), class: "btn btn-info" %></li>
      <% end %>
      <% if request.path_info != friends_path %>
        <li class="header-menu"><%= link_to t('view.friend_index'), friends_path, class: "btn btn-info" %></li>
      <% end %>
      <% if request.path_info != messages_path %>
        <li class="header-menu"><%= link_to t('view.messages_page'), messages_path, class: "btn btn-info" %></li>
      <% end %>
      <% if current_user.admin %>
        <li class="header-menu"><%= link_to t('view.admin_page'), rails_admin_path, class: "btn btn-info" %></li>
      <% end %>
    <% else %>
      <li class="header-menu"><%= link_to t('view.guest_page'), users_guest_sign_in_path, method: :post, class: "login btn btn-info" %></li>
      <li class="header-menu"><%= link_to t('view.admin_guest_page'), users_admin_guest_sign_in_path, method: :post, class: "login btn btn-info" %></li>
      <li class="header-menu"><%= link_to t('view.login'), new_user_session_path, class: "btn btn-info" %></li>
      <li class="header-menu"><%= link_to t('view.signin'), new_user_registration_path, class: "btn btn-info" %></li>
      <li class="header-menu"><%= link_to t('view.community_index'), communities_path, class: "btn btn-info" %></li>
    <% end %>
    </ul>
    <% if notice %>
      <p class="alert alert-primary"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </header>
    <%= yield %>
    <footer class="fixed-bottom">LinkPlayer</footer>
  </body>
</html>
