<!DOCTYPE html>
<html>
  <head>
    <title>LinkPlayer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.12/push.min.js"></script>
    <!-- <script src="encoding.min.js"></script> -->
  </head>
  <body>
    <% if user_signed_in? %>
      <% if User.push_message(current_user) %>
        <script>
          Push.create("新着メッセージがあります"), {
              timeout: 4000,
              onClick: function () {
                  window.focus();
                  this.close();
              }
          };
        </script>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% if request.path_info != communities_path %>
        <li><%= link_to 'コミュニティ一覧へ', communities_path %></li>
      <% end %>
      <% if request.path_info != user_path(current_user) %>
        <li><%= link_to 'マイページ', user_path(current_user) %></li>
      <% end %>
      <% if request.path_info != friends_path %>
        <li><%= link_to 'フレンド一覧へ', friends_path %></li>
      <% end %>
      <li><%= link_to '管理画面へ', rails_admin_path %></li>
    <% else %>
      <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "login" %></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to 'サインアップ', new_user_registration_path %></li>
      <li><%= link_to 'コミュニティ一覧へ', communities_path %></li>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
